# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
akari_main/Release/
akari_main/Debug/
*.sdf
*.opensdf
Debug/
Release/
ipch/
