# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
akari_main/Release/
akari_main/Debug/
*.sdf
*.opensdf
Debug/
Release/
ipch/
akari_main/RCa03108
akari_main/RCa04016
akari_main/RCb03108
akari_main/Resource.rc
akari_main/akari_main.rc
akari_main/resource.h
akari_main/resource1.h
